body {
    background-color: rgb(230, 230, 230);
}

form {
    position: absolute;
    left: 30%;
    top:12%;
    background-color: #fafafa;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 8px;
    margin-top: 15px;
    height: 60%;
    width: 30%;
    font-size: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#logo {
    position: relative;
    left: 230px;
    top: 20px;
    width: 100px;
    height: 100px;
}

.form-control label {
    font-size: 18px;
    position: relative;
    left: 5px;
}

.form-control-input { 
    position: relative;
    left: 5px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 98%;  
}

#login {
    position: relative;
    left: 5px;
    border: none;
    background-color: rgb(70, 70, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 98%;
    color: white;
    cursor: pointer;
}

#login:hover {
    background: #0026b1;
}

#create {
    position: relative;
    left: 5px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

#create:hover {
    background-color: #adadadc4;
}
