@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-color: #f0f2f5;
  min-height: 100vh;
  min-width: 100vw;
}

footer {
  text-align: center;
  display: none;
  bottom: 0;
}

.container-payment {
  width: 800px;
}

.container-body {
  padding: 30px;
}

.page-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 30px;
  border-bottom: 2px solid black; 
  border-radius: 5px;
  color: #000000;
}

.two {
  float: left;
  width: 50%;
  padding-left: 1%;
}

.two left {
  padding-left: 2%;
  width: 50%;
}

form {
  padding: 20px;
  width: 100%;
}

.form-control {
  padding-left: 10px;
  position: relative;
}
  
.form-control label {
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194);
  color: #000000;
}

.form-control input {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  width: 100%;  
}

.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: hidden;
}

.form-control #method, .form-control #payerId {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 14px;
  width: 100%; 
} 

.form button, .form button:hover {
  background-color: #0030B9;
  border: 1px solid #000000;
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194) ;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn {
  background-color: #0030B9;
  border: 1px solid #000000;
  text-shadow: 0.1em 0.1em 0.2em rgb(201, 194, 194) ;
  color: #ffffff;
  font-size: 14px;
  width: 45%;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.form-control.error #method,
.form-control.error #payerId,
.form-control.error input {
  border-color: #e7473c;
}

.form-control.success #method,
.form-control.success #payerId,
.form-control.success input {
  border-color: #0030b9;
}

.form-control.success i.fa-check-circle {
  color: #0030b9;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle,
.form-control.error small {
  color: #e7473c;
  visibility: visible;
}

.form-control input:read-only {
  background-color: rgb(209, 204, 204);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

@media (max-width: 600px) {
  body {
    padding: 10px !important;
    overflow: visible
  }

  .two {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .left {
    padding-left: 0%;
  }
}
