@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
  min-width: 100vw
}

footer {
  text-align: center;
  display: none;
  bottom: 0;
}

h2 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  background-color: #ffffff;
}

.container-payment {
  width: 800px;
}

.conteudo {
  padding: 45px;
}

.two {
  display: flex;
  gap: 20px;
}

.header {
  background-color: #fafafa;
  padding:0 30px;
  border-bottom: 2px solid black; 
  border-radius: 5px;
  color: #000000;
}

.form {
  padding: 20px;
  width: 100%;
}

.form-control {
  display: flex;
  gap: 24px;
}

.form-control:first-child {
  flex-direction: column;
  gap: 0;
}

.form-control > div {
  width: 50%;
}
  
.form-control label {
  color: #000000;
  display: flex;
  gap: 20px;
}

.form-control input {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  width: 100%;  
}

.form-control i {
  position: absolute;
  top: 35px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: hidden;
}

.form-control #method, .form-control #payerId {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 14px;
  width: 100%; 
} 

.form button {
  background-color: #0043fa;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.form button:hover {
  background-color: #0030b9;
}

.form-control.success input {
  border-color: #0030b9;
}

.form-control.error input {
  border-color: #e7473c;
}

.form-control.error #method {
  border-color: #e7473c;
}

.form-control.error #payerId {
  border-color: #e7473c;
}

.form-control.success #method {
  border-color: #0030b9;
}

.form-control.success #payerId {
  border-color: #0030b9;
}

.form-control.success i.fa-check-circle {
  color: #0030b9;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e7473c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e7473c;
}

.form-control input:read-only {
  background-color: rgb(209, 204, 204);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

@media (max-width: 600px) {
  body {
    padding: 10px !important;
    overflow: visible
  }

  .two {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .left {
    padding-left: 0%;
  }
}

.top {
  float: top;
}
